:root {
  --primary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --main-text-color: #434455;
  --hero-footer-background-color: #2e2f42;
  --button-section-background-color: #f4f4fd;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Top-line */
.container {
  width: 1128px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-text {
  color: var(--primary-text-color);
}
/* Menunav */
.option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.option:hover {
  color: #404bbf;
}
.option:focus {
  color: #404bbf;
}
/* Menunav-Adress */
.address {
  font-style: normal;
}
.contacts-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}
.contacts-option:hover {
  color: #404bbf;
}
.contacts-option:focus {
  color: #404bbf;
}
/* Scrolls */
/* Hero */
.hero {
  background-color: var(--hero-footer-background-color);
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 188px;
  text-align: center;
  margin-bottom: 120px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  display: inline-block;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
}
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:hover {
  background-color: #404bbf;
}

/* Sections */
.section {
  margin-top: 120px;
}
.padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sectiontwo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-text-color);
}
.section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.section-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  margin-top: 8px;
}
.bg {
  background-color: var (--button-section-background-color);
}
.section-four-list-item {
  background-color: #ffffff;
}
/* Footer */
.footer {
  background-color: var(--hero-footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logofooter {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logofooter-text {
  color: #f4f4fd;
}
.footer-description {
  margin-top: 16px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
/* Portfolio */
/* Filter */
.filter {
  margin-bottom: 72px;
}
.section-portfolio {
  margin-top: 96px;
  margin-bottom: 120px;
}
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--button-section-background-color);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.filter-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* Our projects */
.our-projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.our-projects-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
}
